<%= form_for @contract do |f| %>

<% if @contract.persisted? %>
<% if @contract.seller_id == @current_user.id && @contract.status == "New" %>
<% @statusarr = ['Signed by Seller']%>
<% else %>
<% @statusarr = ['New','Approved','Reject','Signed by Seller']%>
<% end %>
<% @seller_id = @contract.seller_id %>
<% else %>
<% @statusarr = ['New']%>
<% end %>
<!-- <div class="col-md-8 col-md-offset-2"> -->
<div class="row">
  <div class="col-4 offset-md-3">
    <div class="form-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, :required => true, :autofocus => true,:id => "txttitle", :readonly => @disable, :class => "form-control txt" %>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
    <%= f.label :seller_id, "Designer" %>
    <%= f.select :seller_id, options_for_select(@users.collect{|user| [user.name, user.id]}, @seller_id),
    :prompt => "Select One", :readonly => @disable,:class => 'form-control drp'%>
    </div>

  </div>

</div>
<div class="row">
  <div class="col-4 offset-md-3">
    <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, :required => true,:id => "txtdescription",:readonly => @disable, :class => "form-control txtarea" %>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">

    <%= f.label :services, "Services" %>
    <%= f.text_area :services, :required => true ,:readonly => @disable, :class => "form-control txtarea"%>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-4 offset-md-3">
    <div class="form-group">

    <%= f.label :contract_from, "Start date"%>
    <%= f.date_field :contract_from, :required => true,:readonly => @disable, :class => "form-control txt" %>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">

    <%= f.label :amount, "Amount" %>
    <%= f.text_field :amount ,:type => "Number", :required => true,:readonly => @disable,:class => "form-control txt" %>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-4 offset-md-3">
    <div class="form-group">

    <%= f.label :contract_to, "End date" %>
    <%= f.date_field :contract_to, :required => true ,:readonly => @disable,:class => "form-control txt"%>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <%= f.label :status %>
      <% @selectoptions = { :class => "form-control txt" }%>
      <% if @contract.status == "Approved" %>
      <% @statusdisabled = true; @selectoptions[:disabled] = true  %>
      <% end %>
      <%= f.select :status, options_for_select( @statusarr,
      :selected => @contract.status),
      {:required => true, :class => 'select'}, @selectoptions %>
      <%= hidden_field "hidden", :id => "valdisable", :value => @disable %>

    </div>
  </div>
</div>
<%= f.submit "Save", :id => "btncontract",:class => "btn btn-primary offset-md-3", :disabled => @statusdisabled %>
<% end %>
<!-- </div> -->
