<div class="workcontainer">
    <h2 class="centerdiv">Registration</h2>
      <% if flash[:error_message].present? %>
          <p><%= flash[:error_message] %></p>
      <% end %>
<ul>
<%= form_for @user do |f| %>
  <div class="row">
    <div class="col-4 offset-md-3">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :required => true, :autofocus => true, :class => "form-control txt" %>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :phone, "Phone No" %>
        <%= f.text_field :phone, :type => "Number", :class => "form-control txt" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-md-3">
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :required => true , :class => "form-control txt" %>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :companyname, "Company Name" %>
        <%= f.text_field :companyname, :class => "form-control txt" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-md-3">
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :required => true, :class => "form-control txt" %>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :companyaddress, "Comapany Address" %>
        <%= f.text_field :companyaddress, :class => "form-control txt" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-md-3">
      <div class="form-group">
        <%= f.label :name, "Name"%>
        <%= f.text_field :name, :class => "form-control txt" %>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :companywebsite, "Company Website" %>
        <%= f.text_field :companywebsite , :class => "form-control txt"%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-md-3">
      <div class="form-group">
      <%= f.label :dob, "Date of birth" %>
      <%= f.date_field :dob ,:class => "form-control txt"%>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
      <%= f.label :companycontactinfo ,"Company Contact" %>
      <%= f.text_field :companycontactinfo, :class => "form-control txt" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-md-3">
      <div class="form-group">
      <%= f.label :image %>
      <%= f.text_field :image, :class => "form-control txt" %>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
      <%= f.check_box :admin, :value => "Buyer" %>
      <%= f.label :admin ,"Are you a Buyer?" %>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-4 offset-md-3">
    <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, :class => "form-control txt" %>
    </div>
  </div>
  <div class="col-4 offset-md-3">
    <div class="form-group">
    <%= f.submit "Sign up!" ,:class => "btn btn-primary m-b10" %>
    </div>
  </div>
</div>

<% end %>
</ul>
</div>
